<header class="header">
    <div class="headerNavOuter">
        <h1 class="siteIcon">
          <%= link_to image_tag('/images/Logo.png',  class: 'navbar-brand'), root_path %>
        </h1>
</header>
<div class="sectionWrapper"></div>